<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Список задач</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>#</th>
      <th>Название</th>
      <th>Котигория</th>
      <th>Приоритут</th>
      <th>Дата</th>
      <th>Статус</th>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks; let i = index" [class.completed] = "task.completed">
        <td>{{i + 1}}</td>
        <td>{{task.title}}</td>
        <td [class.novalu]="task.category == null">{{task.category != null ? task.category.title :"Без котигории"}}</td>
        <td [class.novalu]="task.priority == null">{{task.priority != null ? task.priority.title :"Без приоритета"}}</td>
        <td [class.novalu]="task.date == null">{{task.date != null ? (task.date|date :"medium"): "Без дати"}}</td>
        <td>
          <div class="form-check">
          <label class="form-check-label">
            <input [checked]="task.completed" class="form-check-input" type="checkbox" value=""
            (click)="toggleTaskComplide(task)">
            <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
          </label>
        </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
